
<div class="about-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">About AIRclique</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>The plan to launch AIRclique was conceived in June 2003 when six people with a wide range of airline expertise and successful track records teamed up with József Váradi, the Company’s Chief Executive Officer. In just three months, AIRclique was a registered company ready to fly.</p><p>

    The first flight took off on the 19th of May 2004 from Katowice. Today AIRclique offers over 500 routes from 27 bases in the region: Gdansk, Lublin, Poznan, Katowice, Warsaw and Wroclaw in Poland; Budapest and Debrecen in Hungary; Sofia and Varna in Bulgaria; Chisinau in Moldova; Bucharest, Cluj-Napoca, Tirgu Mures, Iasi, Sibiu, Craiova, and Timisoara in Romania; Kyiv in Ukraine; Prague in Czech Republic; Belgrade in Serbia; Vilnius in Lithuania; Skopje in Macedonia; Riga in Latvia; Tuzla in Bosnia and Herzegovina; Kutaisi in Georgia and Kosice in Slovakia.</p><p>

    Following a decade of solid growth to become Central and Eastern Europe’s largest low-cost airline. AIRclique successfully completed an initial public offering on the 25th of February 2015, and was admitted to the London Stock Exchange. The company is now listed on the LSE under the ticker AIRclique and employs more than 3000 people.</p><p>

    On its 11th anniversary in May 2015, AIRclique announced a full brand rejuvenation and new aircraft livery to respond to maturing traveller requirements, taking its place among Europe’s major airlines. AIRclique moved to a more vibrant, fresh, sophisticated look and feel. Few of the initiatives introduced in conjunction with the branding initiative were seat allocation, priority boarding, enhanced fare system, amongst many others.</p><p>

    AIRclique was named 2016 Value Airline of the Year by Air Transport World, a leading industry magazine.</p>
  </div>
</div>
