<div>
  <nav >
    <div >
      <a>{{title}}</a>
      <ul>
        <li><a href="">Home</a></li>
        <li><a [routerLink]="['search']">Search Flight</a></li>
        <li><a [routerLink]="['showAll']">Check Next Flights</a></li>
        <li><a [routerLink]="['more-details']">Additional information</a></li>
        <li><a href="">About</a></li>
        <!--astea sa fie in partea dreapta-->
        <li><a [routerLink]="['myTickets']">My Tickets</a></li>
        <li><a href="">Login</a></li>
      </ul>
    </div>
  </nav>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
