
<div>
  <h3> Check the next flights: </h3>

  <table *ngIf='flights && flights.length'>
    <thead>
      <tr>
        <th> Flight ID</th>
        <th> Departure City</th>
        <th> Arrival City </th>
        <th> Departure time</th>
        <th> Available places </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let flight of flights'>
        <td>{{ flight.flightId }}</td>
        <td>{{ flight.departure_city }}</td>
        <td>{{ flight.arrival_city }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.available_places }}</td>
        <td> <button> Book </button></td>
      </tr>
    </tbody>
  </table>
</div>