<div class="login-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Login</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form (submit)="login()">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          required
          type="email"
          [(ngModel)]='username'
          [ngModelOptions]="{standalone: true}"
          id="email">
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

        <input
          class="mdl-textfield__input"
          required
          type="text"
          [(ngModel)]='password'
          [ngModelOptions]="{standalone: true}"
          id="password">
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
      <div>
        <button
          type="submit"
          class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Login
        </button>
      </div>
      <i *ngIf='errorMessage'> {{errorMessage}}</i>
    </form>
  </div>
</div>
