<div>
  <h3> My tickets: </h3>

  <table>
    <thead>
    <tr>
      <th> Flight ID</th>
      <th> Nr of tickets</th>
      <th> Class</th>
      <th> Departure Time </th>
      <th> Arrival Time</th>
      <th> Departure City</th>
      <th> Destination City</th>
    </tr>
    </thead>
    <tbody *ngIf='flights && flights.length'>
    <tr *ngFor='let flight of flights'>
      <td>{{ flight.id }}</td>
      <td>{{ flight._pivot_seats }}</td>
      <td>{{ flight.class }}</td>
      <td>{{ flight.departure_time | date: 'hh:mm dd MMM'}}</td>
      <td>{{ flight.arrival_time | date: 'hh:mm dd MMM' }}</td>
      <td>{{ flight.DepartureCity.name }}</td>
      <td>{{ flight.DestinationCity.name }}</td>
    </tr>
    </tbody>
  </table>
</div>
