/* You can add global styles to this file, and also import other style files */
@import '../node_modules/material-design-lite/material.min.css';

.city-card-wide.mdl-card {
  width: 100%;
  display: inline-block;
}
.city-card-wide > .mdl-card__title.card-paris {
  color: #fff;
  height: 200px;
  background: url('./assets/images/paris.jpg') center / cover;
}
.city-card-wide > .mdl-card__title.card-berlin {
  color: #fff;
  height: 200px;
  background: url('./assets/images/berlin.jpg') center / cover;
}
.city-card-wide > .mdl-card__title.card-rome {
  color: #fff;
  height: 200px;
  background: url('./assets/images/rome.jpg') center / cover;
}
.city-card-wide > .mdl-card__menu {
  color: #fff;
}

.login-card-wide.mdl-card {
  width: 500px;
  margin: 20px auto;
  text-align: center;
}

.login-card-wide > .mdl-card__title {
  color: #3f51b5;
}

.about-card-wide.mdl-card {
  width: 80%;
  margin: 20px auto;
}
.about-card-wide > .mdl-card__title {
  color: #3f51b5;
  height: 200px;
  background: url('./assets/images/plane.png') center no-repeat;
}
.about-card-wide > .mdl-card__menu {
  color: #fff;
}

.page-header{
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  text-transform: uppercase;
  color: #757575;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.mdl-data-table.all-flights{
  width: 100%;
}
